/* Page communiques */

#page-communiques{
    height: auto;
    margin: 1rem;
}

#page-communiques h1{
    color: var(--secondOrange);
    margin: 50px auto 20px;
    padding-bottom: 5px;
}


.card3{
    width: auto;
    height: auto;
    border-radius: 100%;
    border-radius: .5rem;
    margin-bottom: 1rem;
    box-shadow: 0 10px 30px -10px rgba(12, 9, 7, 0.3), 0 3px 10px -10px rgba(12, 9, 7, 0.2);
}


.text-page-communiques h3{
    text-transform: capitalize;
    font-size: x-large;
    color: var(--colorSecondActuality);
    margin: .8rem;
}


.text-page-communiques p{
    font-size: 1rem;
    color: var(--secondColorCard);
    text-align: left;
    margin: .8rem;
}



.images-communiques{
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}